//max 25 bytes
const char DEVICENAME[] = "sps_ffw1";
const uint8_t MAC[] = {0x02, 0x00, 0x00, 0x00, 0x00, 0x01};
const uint8_t IP[] = {192, 168, 0, 200}; 

const uint8_t MQTT_IP[] = {192, 168, 0, 15};
const int     MQTT_PORT = 1883;
const char    MQTT_USER[] = "sps_ffw";
const char    MQTT_PASS[] = "S3CR3T";